# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# playwright
test-results
.playwright-mcp

# Local files
.claude
.serena
**.local.**

# Local development
CLAUDE.local.md

# bin
bin/

# lsmcp cache
.lsmcp
